---
import { Icon } from 'astro-icon/components';

const { blog } = Astro.props;
---

<div class='border border-secondary p-5 group'>
  <div class='relative h-[240px] overflow-hidden'>
    <img
      src={blog.image}
      alt=''
      class='h-full transition-transform duration-300 group-hover:scale-110'
    />
    <div
      class='absolute right-5 top-5 bg-accent text-highlight text-xs font-normal py-1 px-4 rounded-3xl'
    >
      {blog.category}
    </div>
  </div>
  <div class='mt-4'>
    <div class='flex justify-between items-center'>
      <div class='flex items-center font-normal text-sm text-textPrimary'>
        <Icon name='person-circle' class='mr-3' size={18} />
        {blog.author}
      </div>
      <div class='flex items-center font-normal text-sm text-textPrimary'>
        <Icon name='calendar' class='mr-3' size={18} />
        {blog.date}
      </div>
    </div>
    <a
      href=''
      class='text-secondary text-2xl font-medium mt-4 mb-5 inline-block hover:underline'
    >
      {blog.title}
    </a>
    <a href='' class='flex hover:underline items-center text-secondary'>
      <span class='transition-transform duration-300 group-hover:translate-x-1'>
        Read More
      </span>
      <Icon
        name='arrow-right'
        class='ml-2 transition-transform duration-300 group-hover:translate-x-1'
      />
    </a>
  </div>
</div>
