---
import { Image } from 'astro:assets';

interface ProjectProps {
  id: number;
  name: string;
  image: string;
  category: string;
  desc: string;
}

const { id, name, image, category, desc }: ProjectProps = Astro.props.project;
---

<article
  class='group bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-xl'
>
  <div class='relative'>
    <Image
      src={image}
      alt={name}
      width={600}
      height={400}
      class='w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105'
    />
    <div
      class='absolute top-0 left-0 bg-primary text-highlight text-xs font-semibold px-3 py-1 m-4 rounded-full'
    >
      {category}
    </div>
  </div>
  <div class='p-6'>
    <h3
      class='text-xl font-bold text-textPrimary mb-2 group-hover:text-primary transition-colors duration-300'
    >
      {name}
    </h3>
    <p class='text-gray-600 text-sm mb-4'>{desc}</p>
    <a
      href={`/projects/${id}`}
      class='inline-flex items-center text-primary font-medium hover:text-accent transition-colors duration-300'
    >
      View Project
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-5 w-5 ml-2 group-hover:translate-x-1 transition-transform duration-300'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M17 8l4 4m0 0l-4 4m4-4H3'></path>
      </svg>
    </a>
  </div>
</article>
