---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const { service, index } = Astro.props;

// Define a default aspect ratio (16:9) and calculate height based on a default width
const defaultWidth = 800;
const defaultHeight = Math.round(defaultWidth / (16 / 9));
---

<article
  class={`flex flex-col lg:flex-row bg-white shadow-lg rounded-lg overflow-hidden transition-all duration-300 hover:shadow-xl ${index % 2 === 0 ? 'lg:flex-row-reverse' : ''}`}
>
  <div class='flex flex-col gap-6 justify-center p-6 lg:p-8 flex-1'>
    <Icon
      name={service.icon}
      class='w-12 h-12 text-primary dark:text-primary-dark'
    />
    <h3 class='text-textPrimary text-2xl sm:text-3xl font-semibold'>
      {service.name}
    </h3>
    <p class='text-textPrimary text-base sm:text-lg leading-relaxed'>
      {service.description}
    </p>
    <a
      href='/services'
      class='inline-flex items-center uppercase text-textPrimary font-medium group hover:text-accent transition-colors'
      aria-label={`Learn more about ${service.name}`}
    >
      Find Out More
      <div
        class='bg-accent ml-2 p-2 rounded-full group-hover:bg-primary transition-colors'
      >
        <Icon name='arrow-right' class='w-4 h-4 text-highlight' />
      </div>
    </a>
  </div>
  <div class='lg:w-1/2'>
    <Image
      src={service.image}
      alt={`Illustration for ${service.name} service`}
      width={defaultWidth}
      height={defaultHeight}
      class='w-full h-64 sm:h-80 lg:h-full object-cover'
      loading='lazy'
    />
  </div>
</article>
