---
import { Icon } from 'astro-icon/components';

const { service, index } = Astro.props;
---

<div
  class={`flex flex-col md:flex-row bg-background shadow-lg gap-10 ${index % 2 === 0 ? 'md:flex-row-reverse' : ''}`}
>
  <div class='flex flex-col gap-4 justify-center px-4 md:px-6 flex-1'>
    <Icon name={service.icon} size={40} class='text-primary' />
    <h3 class='inline-block text-textPrimary text-2xl font-semibold'>
      {service.name}
    </h3>
    <p class='text-textPrimary text-lg leading-relaxed'>
      {service.description}
    </p>
    <a
      href='/services'
      class='flex items-center uppercase text-textPrimary font-medium group hover:text-accent transition-colors'
      aria-label={`Learn more about ${service.name}`}
    >
      Find Out More
      <div
        class='bg-accent ml-2 p-2 rounded-full group-hover:bg-primary transition'
      >
        <Icon name='arrow-right' size={18} class='text-highlight' />
      </div>
    </a>
  </div>
  <img
    src={service.image}
    alt={service.name}
    class='h-auto w-full md:h-[400px] md:w-1/2 object-cover'
  />
</div>
