---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  url: URL;
}

const { title, url } = Astro.props;

const shareLinks = [
  {
    name: 'Twitter',
    href: `https://twitter.com/intent/tweet?text=${encodeURIComponent(title)}&url=${url}`,
    icon: 'twitter-x',
    color: 'bg-[#1DA1F2]',
  },
  {
    name: 'Facebook',
    href: `https://www.facebook.com/sharer/sharer.php?u=${url}`,
    icon: 'facebook',
    color: 'bg-[#4267B2]',
  },
  // {
  //   name: 'LinkedIn',
  //   href: `https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${encodeURIComponent(title)}`,
  //   icon: 'linkedin',
  //   color: 'bg-[#0077B5]',
  // },
  {
    name: 'Email',
    href: `mailto:?subject=${encodeURIComponent(title)}&body=${url}`,
    icon: 'envelope',
    color: 'bg-gray-600',
  },
];
---

<div class='flex flex-col items-start space-y-4'>
  <h3 class='text-lg font-semibold text-gray-700'>Share this article</h3>
  <div class='flex space-x-3'>
    {
      shareLinks.map((link) => (
        <a
          href={link.href}
          target='_blank'
          rel='noopener noreferrer'
          class={`${link.color} text-white p-2 rounded-full hover:opacity-80 transition-opacity duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${link.color}`}
          aria-label={`Share on ${link.name}`}
        >
          <Icon name={link.icon} class='w-5 h-5' />
        </a>
      ))
    }
  </div>
</div>
