---
import MainLayout from '../../layouts/MainLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { projects } from '../../constants';
import ProjectBreadcrumbImage from '../../assets/images/ProjectBreadcrumb.webp';
import { Image } from 'astro:assets';
import CTA from '../../components/CTA.astro';
---

<MainLayout
  title='Portfolio | Alicorn Solutions'
  description='Explore our portfolio of successful projects across various industries and technologies.'
  canonicalUrl='https://alicornsolutions.com/projects'
>
  <main class='bg-gradient-to-b from-gray-100 to-white'>
    <!-- Hero Section -->
    <section
      class='relative h-[40vh] min-h-[300px] flex items-center justify-center'
    >
      <Image
        src={ProjectBreadcrumbImage}
        alt='Alicorn Solutions Projects'
        width={1920}
        height={1080}
        class='absolute inset-0 w-full h-full object-cover'
      />
      <div class='absolute inset-0 bg-black opacity-50'></div>
      <div class='relative z-10 text-center text-white px-4'>
        <h1 class='text-4xl md:text-6xl font-bold mb-4' data-aos="fade-down">Portfolio</h1>
        <p class='text-xl md:text-2xl mb-8' data-aos="fade-down" data-aos-delay="200">
          Innovative Solutions Driving Business Success
        </p>
      </div>
    </section>

    <!-- Projects Grid -->
    <section class='section-padding px-4'>
      <div class='container mx-auto max-w-6xl'>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-12'>
          {
            projects.map((project, index) => (
              <ProjectCard
                title={project.title}
                category={project.category}
                description={project.description}
                image={project.image}
                client={project.client}
                duration={project.duration}
                technologies={project.technologies}
                slug={project.slug}
                index={index}
              />
            ))
          }
        </div>
      </div>
    </section>

    <!-- CTA Section -->
    <CTA
      title='Ready to Start Your Project?'
      description='Lets discuss how we can bring your ideas to life and drive your business forward.'
      buttonText='Get in Touch'
      buttonLink='/contact-us'
    />
  </main>
</MainLayout>
